<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stmik-wp.crudwebsql" 
    versionCode = "1"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Websql</name>

    <description>
        Aplikasi CRUD websql.
    </description>

    <author href="https://stmik-wp.ac.id" email="viviaeka.ve@gmail.com">
        evir
    </author>
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-whitelist" version="1" />

    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />

</widget>